<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>amybot emote browser</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="amybot emote browser">
    <style>
        div.emote-wrapper {
            display: inline-block;
            border: 1px solid rgba(0, 0, 0, 0.25);
            width: 64px;
            height: 64px;
        }

        img.emote-img {
            width: 32px;
            height: 32px;
        }

        img.emote-img[alt]:before {
            background: #AAAAAA;
        }
    </style>
</head>
<body>
<div id="emotes">
    <input id="search" placeholder="Emote name goes here"/><button onclick="search();">Search!</button>
    <div id="results">
    </div>
</div>
<script>
    function search() {
        $('#search').each(function(i, e) {
            $.ajax({
                url: "/search/" + $(e).val(),
                success: function(data) {
                    if(data.indexOf("Search") === 0) {
                        $('#results').text(data);
                    } else {
                        var res = JSON.parse(data);
                        // Build this hideous thing
                        var out = "";
                        for(var i = 0; i < res.length; i++) {
                            out += '<div class="emote-wrapper">';
                            out += ':' + res[i][0] + '-' + res[i][2] + ':<br/>';
                            out += '<center><img class="emote-img" src="https://cdn.discordapp.com/emojis/' + res[i][1] + '.png" alt="Broken emote :(" /></center>';
                            out += '</div>';
                        }
                        $('#results').html(out);
                    }
                }
            });
        });
    }
</script>
</body>
</html>