<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>amybot emote browser</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="amybot emote browser">
</head>
<body>
<div id="emotes">
    <input class="search" placeholder="Search..."/>
    <ul class="list">
        {% for emote in emotes %}
            <li>
                :{{ emote[0] }}-{{ emote[2] }}: - https://cdn.discordapp.com/emojis/{{ emote[1] }}.png
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    var list = new List('emotes', {});
</script>
</body>
</html>