<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>amybot emote browser</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="amybot emote browser">
</head>
<body>
<div id="emotes">
    <input id="search" placeholder="Emote name goes here"/><button onclick="search();">Search!</button>
    <div id="results">
    </div>
</div>
<script>
    function search() {
        $('#search').each(function(i, e) {
            $.ajax({
                url: "/search/" + $(e).val(),
                success: function(data) {
                    if(data.indexOf("Search") === 0) {
                        $('#results').text(data);
                    } else {
                        $('#results').text(JSON.parse(data));
                    }
                }
            });
        });
    }
</script>
</body>
</html>